html, body {
    height: 100%;
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-size: 0.9em;
}
#joplin_container {
    display: flex;
    align-items: stretch;
    height: 100%;
}
.header {
    text-align: center;
    font-size: larger;
    font-weight: 550;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 3px;
    flex-grow: 0;
    cursor: pointer;
}
.accordion_header {
    color: white;
    border-bottom: 1px dotted white;
    margin-bottom: 2px;
    background-image: linear-gradient(to bottom, #646060, #313640, #313640, #313640);
}
#side_ctn {
    background-color: #313640;
    flex-basis: calc(15vw - 10px);
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
#notebooks_tree_ctn, #tags_ctn {
    min-height: 0; /* So that their children don't make the size heighter than the flex container (cf. https://css-tricks.com/flexbox-truncated-text/) */
    display: flex;
    flex-direction: column;
}
#notebooks_tree_ctn {
}
#notebooks_tree, #tags {
    background-color: #313640;
    overflow: auto;
    width: 100%;
    color: #E3E3E3;
}
#tags ul, li {
    margin: 0;
    padding: 0;
}
#tags li {
    padding-left: 1em;
}
.tag_item:hover{
    background-color: #25282E;
    cursor: pointer;
}
/* .tag_item.selected {
    background-color: #131313;
} */
.tag_item.selected>a{
    color: #ff4411;
}
#notebooks_tree_inner {
    padding-left: 10px;
}
#notes_list_ctn {
    background-color: #F4F5F6;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(15vw - 6px);
    height: 100%;
    margin-left: 5px;
    border-right: 1px solid #cecece;
}
.notes_list_header {
    color: #313640;
    border-bottom: 1px dotted #313640;
}
.note_view_header {
    color: #ff4411;
    border-bottom: 1px dotted #ff4411;
}
.note_item.selected {
    background-color: #E5E5E5;
}
.note_item:not(.selected):hover{
    background-color: #CBDAF1;
}
#notes_list li {
    cursor: pointer;
    list-style-type: none;
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
#notes_list ul {
    padding-left: 0px;
}
#note_view_ctn {
    background-color: #FFFFFF;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(70vw - 20px);
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.center {
    align-self: center;
    text-align: center;
    vertical-align: middle;
}
.helper_vertical_align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.toc {
    color: #0052CC;
    float: right;
    position: fixed;
    width: 25%;
    right: 0px;
    top: 0px;
    background: rgba(229, 232, 232, 0.8);
    border: 1px solid #0096d6;
    padding: 5px;
    min-height: 1em;
    cursor: move;
}
.toc ul {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
}
.toc_ctrl {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
#toc_drag {
    position: absolute;
    top: 0px;
    left: 10px;
}
/* a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
    border: 0;
} */

#note_view { padding: 10px;  overflow-y: auto; overflow-x: auto; flex-grow: 1;scrollbar-width: thin; scrollbar-color: #313640 #F4F5F6;}
#note_view h1 { color: #ff4411; font-size: 1.5em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view h2 { color: #ff4411; font-size: 1.4em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view h3 { color: #ff4411; font-size: 1.3em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view h4 { color: #ff4411; font-size: 1.2em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view h5 { color: #ff4411; font-size: 1em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view h6 { color: #ff4411; font-size: 0.9em; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
#note_view p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
#note_view a:not(.toc a) { color: #ff4411; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s;}
#note_view a:not(.toc a):hover { color: #a03c21 }
#note_view img {max-height: 100vh; max-width: 100%; height: auto; width: auto;}
.border_note {border-right: 1px solid #ff4411; border-left: 1px solid #ff4411;}

.note_tag { border: 1px solid #979797; border-radius: 5px; padding-right: 2px; padding-left: 2px;}
#note_tags { font-size: 0.8em; color: #868686; text-align: right; }

.toc a, .toc a:hover, .toc a:active, .toc a:focus {
    color: #0A84FF;
    text-decoration: none;
    outline: 0;
    border: 0;
}
.icon-refresh {
    cursor: pointer;
}
.attachment_link { display: inline-block; text-align: center; text-decoration: none; cursor: pointer;}
.attachment_link span { font-size: 32px; }
.attachment_link:link { text-decoration: none; }
.attachment_link:visited { text-decoration: none; }
.attachment_link:hover { text-decoration: none; }
.attachment_link:active { text-decoration: none; }