@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h11k6x');
  src:  url('fonts/icomoon.eot?h11k6x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h11k6x') format('truetype'),
    url('fonts/icomoon.woff?h11k6x') format('woff'),
    url('fonts/icomoon.svg?h11k6x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
  content: "\e90e";
}
.icon-s-book:before {
  content: "\e91f";
}
.icon-s-tag:before {
  content: "\e935";
}
.icon-s-tags:before {
  content: "\e936";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-document-file-html:before {
  content: "\e90d";
}
.icon-times-circle-o:before {
  content: "\e90f";
}
.icon-times-circle:before {
  content: "\e90a";
}
.icon-chevron-circle-down:before {
  content: "\e901";
}
.icon-chevron-circle-up:before {
  content: "\e902";
}
.icon-r-tag:before {
  content: "\e900";
}
.icon-trash-o:before {
  content: "\e919";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-times-rectangle-o:before {
  content: "\e915";
}
.icon-times-rectangle:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e917";
}
.icon-check-circle-o:before {
  content: "\e910";
}
.icon-check-square-o:before {
  content: "\e911";
}
.icon-check-circle:before {
  content: "\e912";
}
.icon-check-square:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e914";
}
.icon-file-powerpoint-o:before {
  content: "\e909";
}
.icon-refresh:before {
  content: "\e90c";
}
.icon-repeat:before {
  content: "\e90b";
}
.icon-rotate-right:before {
  content: "\e90b";
}
.icon-chevron-circle-right:before {
  content: "\e903";
}
.icon-chevron-circle-left:before {
  content: "\e904";
}
.icon-arrow-circle-down:before {
  content: "\e905";
}
.icon-arrow-circle-up:before {
  content: "\e906";
}
.icon-arrow-circle-right:before {
  content: "\e907";
}
.icon-arrow-circle-left:before {
  content: "\e908";
}
