{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Joplin Vieweb</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/jqtree.css' %}">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/clearable_input.css' %}">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/joplin.css' %}">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/codehilite.css' %}">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/style-icomoon.css' %}">
<link rel="stylesheet" href="{% static 'joplinvieweb/css/autosuggest.css' %}">
<script>
    var number_header_css_path = "{% static "joplinvieweb/css/number.css" %}"
</script>

<script src="{% static 'joplinvieweb/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'joplinvieweb/js/tree.jquery.js' %}"></script>
<script src="{% static 'joplinvieweb/js/utils.js' %}"></script>
<script src="{% static 'joplinvieweb/js/clearable_input.js' %}"></script>
<script src="{% static 'joplinvieweb/js/jquery.autocomplete.min.js' %}"></script>
<script src="{% static 'joplinvieweb/js/NoteTags.js' %}"></script>
<script src="{% static 'joplinvieweb/js/NotesList.js' %}"></script>
<script src="{% static 'joplinvieweb/js/SideBar.js' %}"></script>
<script src="{% static 'joplinvieweb/js/NoteView.js' %}"></script>
<script src="{% static 'joplinvieweb/js/joplinvieweb.js' %}"></script>
<script src="{% static 'joplinvieweb/js/draggabilly.pkgd.min.js' %}"></script>
<body>

<div id="joplin_container">
    <div id="side_ctn">
        <div id="notebooks_tree_ctn">
            <div class="accordion_header header not_sync_header">
            <span class="icon-s-book"></span>
            &nbsp;&nbsp;Notebooks</div>
            <div class="accordion-inner" id="notebooks_tree"><div id="notebooks_tree_inner"></div></div>
        </div>
        <div id="tags_ctn">
            <div class="accordion_header header not_sync_header">
            <span class="icon-s-tags"></span>
            &nbsp;&nbsp;Tags</div>
            <div class="accordion-inner" id="tags"></div>
        </div>
        {% if sync_enable %}
        <div id="sync_ctn">
            <div class="accordion_header header">
            <span class="icon-refresh"></span>
            &nbsp;&nbsp;Synchronisation</div>
            <div class="accordion-inner" id="sync">
            <div id="sync-data"></div>
            <div id="sync_action"><div class="icon-refresh"></div></div>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="notes_list_ctn">
        <div class="notes_list_header header">Notes</div>
        <div id="notes_list"></div>
    </div>
    <div id="note_view_ctn">
        <div class="note_view_header header"></div>
        <div id="note_view"></div>
    </div>
</div>

</body>
</html> 